@import 'tailwindcss';

@theme {
  --font-primary: Helvetica, Arial, sans-serif;
  --font-secundary: 'Spectral', Georgia;

  --color-ligth: #333;
  --color-dark: #f9f9f9;
}

@layer base {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  body {
    padding-top: 82px;
    font-family: var(--font-primary);
    @apply m-0 text-dark bg-[#181f2b];
  }

  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0px;
  }

  ul,
  li {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }

  img {
    display: block;
    max-width: 100%;
  }

  label {
    display: block;
    line-height: 1;
    padding-bottom: 0.5rem;
  }

  input {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-family: var(--font-primary);
    color: text-dark;
  }

  button {
    display: block;
    font-size: 1rem;
    font-family: var(--font-primary);
    color: text-dark;
  }

  a {
    text-decoration: none;
  }

  .container {
    max-width: 50rem;
    padding: 0 1rem;
    margin: 0 auto;
  }
}
